pipeline/ADF_Filter_ForeachLoop.json
{
	"name": "ADF_Filter_ForeachLoop",
	"properties": {
		"activities": [
			{
				"name": "FilterArrayItems",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('arryItemsVar')",
						"type": "Expression"
					},
					"condition": {
						"value": "@greater(item(),3)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach_loop_arrayItem",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterArrayItems",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('arryItemsVar')",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "inputDataSet",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "outputFolderDataset",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "@concat('Output_',item())",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"arryItems": {
				"type": "array",
				"defaultValue": [
					1,
					2,
					3,
					4,
					5,
					6,
					7,
					8,
					9
				]
			}
		},
		"variables": {
			"arryItemsVar": {
				"type": "Array",
				"defaultValue": [
					1,
					2,
					3,
					4,
					5,
					6,
					7,
					8,
					9
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-03-21T06:31:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}