pipeline/ADF_Prac3_VariableActivity.json
{
	"name": "ADF_Prac3_VariableActivity",
	"properties": {
		"activities": [
			{
				"name": "Set value for FileType",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileType",
					"value": {
						"value": "@replace(pipeline().parameters.FileName,'Sales','')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Append ListofFiles_Var",
				"type": "AppendVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ListOfFiles_Appd",
					"value": {
						"value": "@pipeline().parameters.FileName_Appd",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set value for FileType",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('FileType'),'Daily')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Copy data2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFileName": "HourlySales.txt",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "SalesID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "SalesID",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Period",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Period",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Amount",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Amount",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "srcSetDataset",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "srcSetDataset",
									"type": "DatasetReference"
								}
							]
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFileName": "*.txt",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "TransID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "TransID"
											}
										},
										{
											"source": {
												"name": "Amount",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Amount"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "srcSetDataset",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "selfHost_SQLDS",
									"type": "DatasetReference",
									"parameters": {
										"tblName": {
											"value": "@equals(pipeline().parameters.FileName,'DailySales')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"FileName": {
				"type": "string",
				"defaultValue": "DailySales"
			},
			"FileName_Appd": {
				"type": "string",
				"defaultValue": "SalesIndia.txt"
			}
		},
		"variables": {
			"FileType": {
				"type": "String"
			},
			"ListOfFiles_Appd": {
				"type": "Array",
				"defaultValue": [
					"SalesUS",
					"SalesUK"
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-03-14T05:11:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}